@charset "utf-8";

// $primary: hsl(219, 38%, 35%);
$primary: hsl(155, 52%, 57%);

// @import "../node_modules/bulma/bulma.sass";


@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";

@import "../node_modules/bulma/sass/helpers/color.sass";
@import "../node_modules/bulma/sass/helpers/flexbox.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/visibility.sass";
@import "../node_modules/bulma/sass/helpers/other.sass";

@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";

@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/other.sass"; // block

@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/tools.sass";

@import "../node_modules/bulma/sass/layout/footer.sass";


@import "./styles.scss";


$mobile-tile-w: 51px;
$tablet-tile-w: 62px;

a.icon-link .icon {
    color: $text;
}

.tile {
    @include mobile {
        max-width: $mobile-tile-w;
    }

    @include tablet {
        max-width: $tablet-tile-w;
    }
}

.animation-button {
    padding-left: 0.5em;
    padding-right: 0.5em;

    .tile {
        @include mobile {
            max-width: $mobile-tile-w * 0.5;
        }
    
        @include tablet {
            max-width: $tablet-tile-w * 0.5;
        }
    }
}

.rounded {
    border-radius: 0.25rem;
}