$dark-mode-color: #C9D1D9;
$dark-mode-bg-color: #0a0a0a;

html {
    background-color: #fafafa;
}

.base-container {
    &.light-mode {
        background-color: #ffffff;
    }
    &.dark-mode {
        background-color: $dark-mode-bg-color;
    }
    .container {
        padding: 0.5rem;
    }
}

.config-toggle {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
}

.dark-mode {
    color: $dark-mode-color;

    // based on https://github.com/jloh/bulma-prefers-dark
    
    .label, .title, .tabs a, a.icon-link .icon {
        color: $dark-mode-color;
    }

    .footer {
        background-color: #121212;
    }

    .button {
        background-color: $dark-mode-bg-color;
        border-color: #363636;
        color: #dbdbdb;

        &:hover, &.is-hovered {
            border-color: #4a4a4a;
            color: #dbdbdb;
        }
        &:focus, &.is-focused {
            border-color: #5ea3e4;
            color: #dbdbdb;
        }
        &:focus:not(:active), &.is-focused:not(:active) {
            box-shadow: 0 0 0 0.125em rgba(94, 163, 228, 0.25);
        }
        &.is-primary {
            background-color: #009e86;
            border-color: transparent;
            color: #fff;
        }
        &.is-primary:hover, &.is-primary.is-hovered {
            background-color: #00917c;
            border-color: transparent;
            color: #fff;
        }
        &.is-primary:focus, &.is-primary.is-focused {
            border-color: transparent;
            color: #fff;
        }
        &.is-primary:focus:not(:active), &.is-primary.is-focused:not(:active) {
            box-shadow: 0 0 0 0.125em rgba(0, 158, 134, 0.25);
        }
        &.is-primary:active, &.is-primary.is-active {
            background-color: #008571;
            border-color: transparent;
            color: #fff;
        }
        &.is-primary[disabled],
        fieldset[disabled] &.is-primary {
            background-color: #009e86;
            border-color: transparent;
            box-shadow: none;
        }
    }
    
    .tabs.is-boxed a:hover {
        background-color: #242424;
        border-bottom-color: #363636;
      }
    .tabs.is-boxed li.is-active a {
        background-color: $dark-mode-bg-color;
        border-color: #363636;
    }

    .dropdown-content {
        background-color: $dark-mode-bg-color;
        box-shadow: 0 2px 3px rgba(#fff, 0.1), 0 0 0 1px rgba(#fff, 0.1);
    }

    .dropdown-item {
        color: #b5b5b5;
    }

    a.dropdown-item, button.dropdown-item {
        &:hover {
            background-color: #242424;
            color: white;
        }

        &.is-active {
            background-color: #5ea3e4;
            color: #fff;
        }
    }
}

.group {
    min-width: 20px;
}

.empty-tile {
    min-width: 20px;
}
